<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abd.scenario.scenarioMapper">
<!-- 여기에 쿼리를 작성하면 된다. -->
	<select id="selectScenes" parameterType="hashmap" resultType="hashmap">
		SELECT
			 SCENE_CD
			,SCENE_NM
		FROM SCENE_GAME SG
		#where SCENE_CD NOT IN ('S001','S002','S003')
		ORDER BY SCENE_CD
	</select>
	<select id="selectEvents" parameterType="hashmap" resultType="hashmap">
		SELECT 
			 EVENT_CD
			,CAST(EVENT_SEQ AS CHAR) EVENT_SEQ 
			,E_TYPE 
		FROM EVENT_SCENE ES 
		WHERE SCENE_CD = #{SCENE_CD}
		ORDER BY EVENT_CD, EVENT_SEQ 
	</select>
	<select id="selectScripts" parameterType="hashmap" resultType="hashmap">
		SELECT
			 SCRIPT_CD 
			,CAST(SCRIPT_SEQ AS CHAR) SCRIPT_SEQ 
			,SCRIPT_TXT 
		FROM SCRIPT_EVENT SE 
		WHERE EVENT_CD = #{EVENT_CD}
		AND EVENT_SEQ = #{EVENT_SEQ}
		ORDER BY SCRIPT_SEQ 
	</select>
	<select id="selectPlay" parameterType="hashmap" resultType="hashmap">
		SELECT 
			 PLAY_CD 
			,P_TYPE 
		FROM PLAY_EVENT PE 
		WHERE EVENT_CD = #{EVENT_CD}
		AND EVENT_SEQ = #{EVENT_SEQ}
	</select>
	<select id="selectSelection" parameterType="hashmap" resultType="hashmap">

		SELECT
			 SP.SELECT_CD 
			,SP.S_TYPE
			,SP.SELECT_HEAD 
			,CAST(SP.NUM_OF_SELECT AS CHAR) NUM_OF_SELECT 
			,CAST(OS.OPTION_SEQ AS CHAR) OPTION_SEQ 
			,OS.OPTION_TXT
			,OS.RESULT_OCCURRED
		FROM SELECT_PLAY SP 
		JOIN OPTION_SELECT OS
		ON SP.SELECT_CD  = OS.SELECT_CD 
		WHERE SP.PLAY_CD = #{PLAY_CD}

	</select>
	<select id="selectOptions" parameterType="hashmap" resultType="hashmap">

		SELECT
			 CAST(OPTION_SEQ AS CHAR) OPTION_SEQ 
			,OPTION_TXT
			,RESULT_OCCURRED
		FROM OPTION_SELECT OS
		WHERE SELECT_CD = #{SELECT_CD}
		ORDER BY OPTION_SEQ 

	</select>
	<select id="selectSelectionResult" parameterType="hashmap" resultType="hashmap">

		SELECT
			  RESULT_OCCURRED
			 ,RO_DESC 
		FROM OPTION_SELECT OS
		WHERE SELECT_CD = #{SELECT_CD}
		AND OPTION_SEQ = #{OPTION_SEQ}

	</select>
	<select id="selectBattle" parameterType="hashmap" resultType="hashmap">

		SELECT 
			 BP.BATTLE_CD 
			,BP.MAP_CD 
			,BP.NEXT_EVENT_CD 
			,BP.NEXT_EVENT_SEQ 
			,SP.PLAY_CD 
			,SP.SELECT_ALIAS 
			,SP.SELECT_CD
		FROM BATTLE_PLAY BP
		JOIN SELECT_PLAY SP
		ON SP.SELECT_CD IN (BP.SELECT1,BP.SELECT2,BP.SELECT3,BP.SELECT4)
		WHERE BP.PLAY_CD = #{PLAY_CD}

	</select>
	<select id="selectJustHpnOfEvent" parameterType="hashmap" resultType="hashmap">

		SELECT 
			 JH_CD 
			,RESULT_TXT
			,RESULT_OCCURRED 
		FROM JUSTHPN_EVENT JE 
		WHERE EVENT_CD = #{EVENT_CD}
		AND EVENT_SEQ = #{EVENT_SEQ}
		
	</select>
	<select id="selectInputOfPlay" parameterType="hashmap" resultType="hashmap">

		SELECT 
			 INPUT_CD
			,INPUT_PLACEHOLDER 
			,RESULT_TXT
			,RESULT_OCCURRED 
		FROM INPUT_PLAY IP
		WHERE PLAY_CD = #{PLAY_CD}
		
	</select>
	<select id="selectBranchOfEvent" parameterType="hashmap" resultType="hashmap">
		
		SELECT
			  BRANCH_CD
			, BRANCH_METHOD
			, Y_EVENT_CD
			, Y_EVENT_SEQ
			, N_EVENT_CD
			, N_EVENT_SEQ
			, OUT_EVENT_CD
			, OUT_EVENT_SEQ
		FROM BRANCH_EVENT
		WHERE 1=1 
		AND EVENT_CD = #{EVENT_CD} 
		AND EVENT_SEQ = #{EVENT_SEQ}
		
	</select>
</mapper>