<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="abd.character.characterMapper">
<!-- 여기에 쿼리를 작성하면 된다. -->
	<select id="selectCharacter" parameterType="hashmap" resultType="hashmap">
		SELECT
			CHAR_CD
			,CHAR_NM
			,CLASS_CD
		FROM CHARACTER_MT
		WHERE 1=1
	<if test="CHAR_CD != null">
		AND CHAR_CD = #{CHAR_CD}
	</if>
	<if test="TEAM_CD != null">
		AND TEAM_CD = #{TEAM_CD}
	</if>
	<if test="CLASS_CD != null">
		AND CLASS_CD = #{CLASS_CD}
	</if>
	</select>
	<select id="selectNPCharacter" parameterType="hashmap" resultType="hashmap">
		SELECT 
			 CMT.CHAR_CD
			,CMT.CHAR_NM 
			,CMT.CLASS_CD 
			,CL.HP
			,CL.ATT
			,CL.AC
			,CL.AV
			,CL.XP 
			,CL.FREQ 
		FROM CHARACTER_MT CMT 
		JOIN CHARACTER_MAP CMP
		ON CMT.CHAR_CD = CMP.CHAR_CD
		JOIN CHARACTER_LVL CL 
		ON CMT.LVL = CL.`LEVEL`
		WHERE CMT.CHAR_CD = #{CHAR_CD}
	</select>	
	<select id="selectPCharacter" parameterType="hashmap" resultType="hashmap">
		SELECT
			 'P' CLASS_CD 
			,CAST(LVL.`LEVEL` AS CHAR) `LEVEL` 
			,LVL.HP 
			,LVL.ATT 
			,LVL.AC
			,LVL.AV
			,LVL.REQD_XP 
		FROM CHARACTER_LVL LVL
		WHERE 1=1
	</select>
	<select id="selectCharacterLine" parameterType="hashmap" resultType="hashmap">
		SELECT
			TYPE
			,LINE_TXT
		FROM CHARACTER_LN
		WHERE 1=1
		AND CHAR_CD = #{CHAR_CD}
	</select>
	<select id="selectCharacterInMap" parameterType="hashmap" resultType="hashmap">
		SELECT 
			CMT.CHAR_CD 
			,CL.FREQ 
		FROM CHARACTER_MT CMT 
		JOIN CHARACTER_MAP CMP
		ON CMT.CHAR_CD = CMP.CHAR_CD
		JOIN CHARACTER_LVL CL 
		ON CMT.LVL = CL.`LEVEL`
		WHERE CMP.MAP_CD = #{MAP_CD}
	</select>
	<select id="selectCompCharacters" parameterType="hashmap" resultType="hashmap">
		SELECT
			 CM.CHAR_CD
			,CM.CHAR_NM
			,CM.CLASS_CD
			,CC.MP
			,CC.MIN_REPL_TERM
			,CC.MAX_REPL_TERM 
			,CC.SP_ABL1
			,CC.SP_ABL2
			,CL.HP 
			,CL.ATT
			,CL.AC
			,CL.AV
			,CN.LINE_TXT
			,CN.TYPE
		FROM CHARACTER_MT CM 
		JOIN CHARACTER_CMP CC 
		ON CM.CHAR_CD = CC.CHAR_CD 
		JOIN CHARACTER_LVL CL 
		ON CL.`LEVEL` = CM.LVL		
		JOIN CHARACTER_LN CN
		ON CM.CHAR_CD  = CN.CHAR_CD
		AND CN.`TYPE` = 'A'
	</select>
</mapper>